body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 100vw;
}

.container-item {
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2rem 1rem;
}

#jv-fine-arts {
  background-color: #c7c7c7;
  margin: 3rem;
}

#tie-austin {
  background-color: gray;
  margin: 0 3rem;
  margin-bottom: 3rem;
}

.container-item-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.container-item-image:first-child {
  margin: 2rem;
}

.container-item-image:last-child {
  margin-right: 2rem;
}

.container-item-image > img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}
